__pycache__/
*.pyc
logs/*
!logs/.gitkeep
!logs/stage1/
!logs/stage1/.gitkeep
!logs/stage2/
!logs/stage2/.gitkeep
!logs/stage3/
!logs/stage3/.gitkeep
!logs/stage4/
!logs/stage4/.gitkeep
models/*
!models/.gitkeep
!models/stage1/
!models/stage1/.gitkeep
!models/stage2/
!models/stage2/.gitkeep
!models/stage3/
!models/stage3/.gitkeep
!models/stage4/
!models/stage4/.gitkeep
